/*
	Common css
*/

body{

}

	/*
		should extend ionic .type.scss
	*/
h1,h2,h3,h4 {

}


/*
	create a mixin for that
*/
.content-bg{
	background-color: $white-shade-color-f3;
}

.sidebar-bg{
	background-color: #383a4c;	
}



.authorHeader {
	position: relative;
	text-align: center;
	background-color: #ffffff;
}

.authorHeader h1 {
	padding-bottom: 0;
	font-weight: 400;
	padding: 0;
}

.authorHeader h2 {
font-size: 12px;
color: #999;
margin: 5px 0 0;
font-weight: 400;
}

.authorBackground {
	background-color: #000;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 93px;
}

.authorBackground img {
	/* -webkit-filter: blur(30px); */
	-moz-filter: blur(30px);
	-ms-filter: blur(30px);
	-o-filter: blur(30px);
	filter: blur(30px);
	/* width: 100%; */
	opacity: .5;
}


ul.authorConnectIcons {
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0;
	min-height: 52px;
}

ul.authorConnectIcons li {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 44px;
	margin: 0;
	padding: 0;
	-webkit-background-size: 120px 7348px;
	background-size: 120px 7348px;
}

/*
.authorIconFacebook {
	background: url(/build/resources/images/master-sprite-8aa32b3017fdffe090fd2de19c6e65a2.png) no-repeat 0 -6732px;
}

.authorIconTwitter {
	background: url(/build/resources/images/master-sprite-8aa32b3017fdffe090fd2de19c6e65a2.png) no-repeat 0 -6820px;
}

.authorIconWebsite {
	background: url(/build/resources/images/master-sprite-8aa32b3017fdffe090fd2de19c6e65a2.png) no-repeat 0 -7172px;
}
*/

.author-icon-row {
	position: relative;
	margin-top: 3px;
	margin-bottom: 96px;
	background-color: #ffffff;
	width: 100%;
}

.author-icon-row span {
	display: inline-block;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	border: 1px solid #e6e6e6;
	position: absolute;
	left: 50%;
	margin-left: -38px;
	background-position: center center;
	background-size: cover;
}

.centerBlock {
	margin: 0 auto;
	max-width: 1024px;
}

